$bp-iphone5: 360px;
$bp-tablet: 768px;
$bp-desktop: 1300px;

:host {
  display: flex;

  section {
    width: 1920px;
    margin: 0 auto 50px;
    padding: 0 96px;

    form {
      display: flex;
      gap: 12px;
    }

    main {
      display: flex;
      gap: 37px;
      margin-top: 40px;

      app-repo-card {
        flex: 1 1 auto;
      }
    }
  }
}

@media (min-width: $bp-iphone5) {
  main {
    flex-direction: column;
    gap: 32px;
  }
}

@media (min-width: $bp-tablet) and (max-width: $bp-desktop) {

  main {
    flex-direction: column;
    gap: 32px;
  }

  app-user-card {
    flex: 1 1 auto;
  }
}

@media (min-width: $bp-desktop) {
  main {
    flex-direction: row;
    gap: 37px;
    margin-top: 40px;

    app-user-card {
      flex: 0 0 437px;
    }

    app-repo-card {
      flex: 1 1 auto;
    }
  }
}
